    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <img src="/img/leonardochavez.jpg">
              <h2>About Me</h2>
              <br/>
                <p>I am a 2010 graduate of Southern Illinois University Edwardsville with a bachelor degree in biology 
                with a minor in chemistry.  I have a passion and years of experience working with people to be interested 
                in topics of science and nature. I enjoy having discussions on the science behind modern research and how research 
                being done today will affect our future.</p>
                <br/>
              </div>
        </div>
    </section>
