    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <img src="/img/leonardochavez.jpg">
              <h2>About Me</h2>
              <br/>
                <p>I am a 2010 graduate of Southern Illinois University Edwardsville with a bachelor degree in biology 
                and a minor in chemistry.  I have years of experience working with people to be interested 
                in all topics of science to build a life long passion for learning. I enjoy having discussions on the 
                science behind modern technology and research that will improve our lives for the future.</p>
                <br/>
              </div>
        </div>
    </section>
